
body, html {
    height: 100%;
    margin-left: 0px;
}

/* remove outer padding */
.main .row {
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 5px;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main {
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main {
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main {
        margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a {
        padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
        /*background-color: #1887cc;
        background: linear-gradient(to bottom, #87cefa, #1887cc);*/
    }

    /*gives sidebar width/height*/
    nav.sidebar {
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

        /*give sidebar 100% width;*/
        nav.sidebar li {
            width: 100%;
        }

        /* Move nav to full on mouse over*/
        nav.sidebar:hover {
            margin-left: 0px;
        }
    /*for hiden things when navbar hidden*/
    .forAnimate {
        opacity: 0;
    }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main {
        width: calc(100% - 200px); /*keeps 100% minus nav size*/
        margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
        /*Show hidden items on nav*/
        nav.sidebar .forAnimate {
            opacity: 1;
        }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    /*background-color: transparent;*/
    background-color: #1887cc;
    background: linear-gradient(to bottom, #87cefa, #1887cc);
    border-radius: 2px;
    /*border-color: #87cefa !important;*/
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}


/*
    Bootstrap Overides
*/

.navbar {
    margin-top: -15px;
    position: absolute;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    margin-left: 1px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse {
    background: linear-gradient(to bottom, #87cefa, #1887cc);
    border-color: #87cefa;
    color: #fff;
}

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background: linear-gradient(to bottom, #87cefa, #1887cc);
        border-color: #87cefa !important;
    }

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #fff;
        background-color: transparent;
        background: linear-gradient(to bottom, #87cefa, #1887cc);
        border-color: #87cefa !important;
    }




.nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}



.panel-heading {
    font-size: 1.5em !important;
    background: linear-gradient(to bottom, #87cefa, #1887cc);
    border-color: #87cefa !important;
}


.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-details {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

    .error-actions .btn {
        margin-right: 10px;
    }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #1887cc;
    background: linear-gradient(to bottom, #87cefa, #1887cc);
}

.dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

/* style the file input element*/

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }
/*input[readonly] {
    background-color: grey !important;
    cursor: text !important;
}*/

.chartjs-render-monitor {
    display: block;
    width: 400px;
    height: 300px;
    -webkit-animation: chartjs-render-animation 0.001s;
    animation: chartjs-render-animation 0.001s;
}

.dataTables_wrapper .dt-buttons {
    float: none;
    text-align: right;
}

.ui-autocomplete {
    z-index: 100;
}

.isloading1 {
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 16px 16px;
    background-position: right center;
    background-repeat: no-repeat;
}
table {
    border-collapse: separate;
    border-spacing: 0 5px;
    padding: 0px;
}

.levelOne {
    /* background-color: #006DCC; */
    background-color: #337ab7;
    color: white;
}
.levelTwo {
    background-color: #337ab7;
    color: white;
}


tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.clickableRow {
    cursor: pointer;
}

p, textarea {
    /*font-variant: small-caps !important;
    text-rendering: auto;*/
}

td, th {
    font-size: 8pt;
}

table {
    padding: 0px;
}

.simple-form {
    display: flex;
    overflow-y: scroll;
    padding-bottom: 1.25rem;
}

    .simple-form input {
        margin: 0 .25rem;
        min-width: 125px;
        border: 1px solid #eee;
        border-left: 3px solid;
        border-radius: 5px;
        transition: border-color .5s ease-out;
    }

        .simple-form input:optional {
            border-left-color: #999;
        }

        .simple-form input:required {
            border-left-color: palegreen;
        }

        .simple-form input:invalid {
            border-left-color: salmon;
        }  


