<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/Nics</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/Nics</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NicsDebtorSearch" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DebtorSearch.Business_Objects.NicsDebtorSearch, DebtorSearch" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NICSDW" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DebtorSearch.Business_Objects.NicsDW, DebtorSearch" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientsData" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DebtorSearch.Business_Objects.ClientsData, DebtorSearch" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LexiirDWH" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.25;Initial Catalog=LexiirDWH;Persist Security Info=True;User ID=sa;Password=1NteGr@teD$01uTioN$;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LexiirDWH_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.0.25;initial catalog=LexiirDWH;persist security info=True;user id=sa;password=1NteGr@teD$01uTioN$;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Sms" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.16;Initial Catalog=_sms_service;Persist Security Info=True;User ID=sa;Password=$01uTioN$;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Sms_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.0.16;initial catalog=_sms_service;persist security info=True;user id=sa;password=$01uTioN$;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientsData-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LexiirDWH-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NicsDebtorSearch-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NICSDW-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Sms-Web.config Connection String" />
  </ItemGroup>
</Project>