@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/Content/Images/logo.gif" alt="Nics Logo" width="400" height="80" />
    </div>
       
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Vision</h2>
            <p>
                To remain a leading and responsible turnkey,
                360-degree,
                tailor-made revenue management and debt recovery solution company.
            </p>

        </div>
        <div class="col-md-4">
            <h2>Mission</h2>
            <p>
                To better our world-class offering by recruiting quality personnel while adopting innovative infrastructure
                and technology. Additionally, to develop sustainable relationships with all our stakeholders,
                and empower previously marginalised groups while maintaining our mandate to recover responsibly.
            </p>

        </div>
        <div class="col-md-4">
            <h2>Values</h2>
            <p>People – Recruit, develop and retain appropriate human resources.</p>
            <p> Respect – The needs and objectives of our stakeholders will never be compromised.</p>
            <p>Integrity – Maintain ethical and professional standards in the provision of our services.</p>
            <p>Development – Our people, systems and solutions to maintain a competitive edge.</p>
            <p><i>Excellence</i> – Maintain the highest standards and to ensure long-term relationships, growth and stability.</p>
        </div>
    </div>

    @*<div class="row">
            <div class="col-md-4">
                <h2>Debt Recoveries</h2>
                <p>

                </p>
                <p></p>
            </div>
            <div class="col-md-4">
                <h2>Indegent Management</h2>
                <p></p>

            </div>
            <div class="col-md-4">
                <h2>Credit Profiling</h2>
                <p></p>
                <p></p>
            </div>
        </div>*@
