@model DebtorSearch.Models.NewPasswordViewModel
@{
    ViewBag.Title = "Update Password";
}

@using (Html.BeginForm("UpdatePassword", "Activity", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
{
    <ng-form id="UpdateForm" name="UpdateForm">
      

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">

                <input class="form-control" id="OldPassword" name="OldPassword" type="text" value="" ng-model="OldPassword" ng-required="true">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">

                <input class="form-control" id="Password" name="Password" type="text" value="" ng-model="Password" ng-required="true">

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" id="submit" class="btn btn-success" value="submit" ng-disabled="UpdateForm.$invalid" />

                <input type="button" class="btn btn-primary" value="Back" onclick="history.go(-1)" />
            </div>
        </div>
    </ng-form>


}

